<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--日志文件夹路径，注意使用双斜杠，以双斜杠结束-->
    <add name="LogFilePath" connectionString="Z:\\LOG\\"/>

    <!--保留多少天的LOG文件，在此天数之前的文件都将转移走-->
    <add name="Days" connectionString="30"/>

    <!--把超过范围的LOG文件转移到某个路径，会在这个路径下面自动建一个文件夹，注意使用双斜杠，以双斜杠结束-->
    <add name="TargetPath" connectionString="Z:\\LOGBAK\\"/>

    <!--转移完了是否对建立的文件夹压缩到目标路径下  0：不压缩 1：压缩-->
    <add name="IsCompress" connectionString="1"/>

    <!--转移完了是否删除目标路径下面建立的文件夹  0：不删除 1：删除-->
    <add name="IsDeleteDirectory" connectionString="1"/>
    
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
